.notification {
  min-width: 300px;
  max-width: 560px;
  animation: openNotification 500ms ease;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 12px;
    content: '';
  }

  &.error::before {
    @include light-theme {
      background-color: #db8a9a;
      border-color: #c67c8b;
    }

    @include dark-theme {
      background-color: #734f56;
      border-color: #925d67;
    }
  }

  &.info::before {
    @include light-theme {
      background-color: #a4ede9;
      border-color: #91d2cf;
    }

    @include dark-theme {
      background-color: #3d8581;
      border-color: #5f8f7c;
    }
  }

  &.success::before {
    @include light-theme {
      background-color: #8ee1c1;
      border-color: #76c3a5;
    }

    @include dark-theme {
      background-color: #507969;
      border-color: #619b84;
    }
  }

  &.closed {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
}

.closeButton {
  top: 50%;
  right: 16px;
  margin-top: -12px;
  background-color: rgba($color-dark-rgb, .05);
  pointer-events: auto;
}

@keyframes openNotification {
  from {
    transform: translate3d(0, -100%, 0) scale(80%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
