$primary-light: #74AAFC;
$success-light-light: #4CD48B;
$success-light-light-rgba: rgba(49, 212, 139, 0.3);


.trackLine {
  height: 6rem;

  @include dark-theme {
    background-color: rgb($color-white-rgb / 0.2);
  }

  @include light-theme {
    background-color: $color-white;
  }

  &::after {
    position: absolute;
    top: -8rem;
    left: 0;
    width: 100%;
    height: 20rem;
    content: '';
  }

}

.track {
  width: 100%;
  height: 6rem;
  margin-top: -6rem;
}

.fill {
  height: 6rem;
}

.thumb {
  width: 25rem;
  height: 25rem;
  margin-top: -10rem;

  &::before {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 15rem;
    height: 15rem;
    background: $color-light;
    border-radius: 100%;
    content: '';
  }

}

// Styles for each theme

.success {

  .thumb {
    background: linear-gradient(90deg, $success-light-light 5.26%, $primary-light 94.74%);
    background-color: $primary-light;
    box-shadow: 0 0 8rem rgba($success-light-light-rgba, 0.3);
  }

  .fill {
    background: linear-gradient(90deg, $success-light-light 0%, $primary-light 108.5%);
    box-shadow: 0 0 6rem $success-light-light;
  }
}

.warning {

  .thumb {
    background-color: $primary-light;
    box-shadow: 0 0 8rem $color-warning;
  }

  .fill {
    background: linear-gradient(90deg, $color-warning 0%, $primary-light 109.09%);
    box-shadow: 0 0 6rem $color-warning;
  }
}

.error {

  .thumb {
    background-color: $primary-light;
    box-shadow: 0 0 8rem rgb($color-error-rgb / 0.5);
  }

  .fill {
    background: linear-gradient(90deg, $color-error 0%, $primary-light 100%);
    box-shadow: 0 0 6rem $color-error;
  }
}

.errorInverted {

  .thumb {
    background-color: $color-error;
    box-shadow: 0 0 8rem rgb($color-primary-rgb / 0.5);
  }

  .fill {
    background: linear-gradient(90deg, $color-primary 0%, $color-error 100%);
    box-shadow: 0 0 6rem $color-primary;
  }
}
