@import "../settings";

$themes: (
  'body-light-theme': $colors-light-theme,
  'body-dark-theme': $colors-dark-theme,
);

$color-primary: var(--color-primary);
$color-background: var(--color-background);

$color-primary-start: var(--color-primary-start);
$color-primary-end: var(--color-primary-end);

$color-secondary-start: var(--color-secondary-start);
$color-secondary-end: var(--color-secondary-end);

$color-warning: var(--color-warning);
$color-success-light: var(--color-success-light);
$color-success: var(--color-success);
$color-error: var(--color-error);
$color-secondary: var(--color-secondary);
$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-black: var(--color-black);
$color-white: var(--color-white);

// RGB COLORS: color: rgb($color-...-rgb / 0.24);
$color-primary-rgb: var(--color-primary-rgb);
$color-background-rgb: var(--color-background-rgm);

$color-button1-start-rgb: var(--color-button1-start-rgb);
$color-button1-end-rgb: var(--color-button1-end-rgb);

$color-button2-start: var(--color-button2-start);
$color-button2-end: var(--color-button2-end);

$color-warning-rgb: var(--color-warning-rgb);
$color-success-light-rgb: var(--color-success-light-rgb);
$color-success-rgb: var(--color-success-rgb);
$color-error-rgb: var(--color-error-rgb);
$color-secondary-rgb: var(--color-secondary-rgb);
$color-dark-rgb: var(--color-dark-rgb);
$color-light-rgb: var(--color-light-rgb);
$color-black-rgb: var(--color-black-rgb);
$color-white-rgb: var(--color-white-rgb);
