@import "../settings";

$themes: (
  'body-light-theme': $colors-light-theme,
  'body-dark-theme': $colors-dark-theme,
);

$color-primary: var(--color-primary);
$color-background: var(--color-background);

$color-button1-start: var(--color-button1-start);
$color-button1-end: var(--color-button1-end);

$color-button2-start: var(--color-button2-start);
$color-button2-end: var(--color-button2-end);

$color-autumn: var(--color-autumn);
$color-forest: var(--color-forest);
$color-jungle: var(--color-jungle);
$color-volcano: var(--color-volcano);
$color-stone: var(--color-stone);
$color-moon: var(--color-moon);
$color-sun: var(--color-sun);
$color-coal: var(--color-coal);
$color-snow: var(--color-snow);
$color-smoke: var(--color-smoke);
$color-titanium: var(--color-titanium);

// RGB COLORS: color: rgb($color-...-rgb / 0.24);
$color-primary-rgb: var(--color-primary-rgb);
$color-background-rgb: var(--color-background-rgm);

$color-button1-start-rgb: var(--color-button1-start-rgb);
$color-button1-end-rgb: var(--color-button1-end-rgb);

$color-button2-start: var(--color-button2-start);
$color-button2-end: var(--color-button2-end);

$color-autumn-rgb: var(--color-autumn-rgb);
$color-forest-rgb: var(--color-forest-rgb);
$color-jungle-rgb: var(--color-jungle-rgb);
$color-volcano-rgb: var(--color-volcano-rgb);
$color-stone-rgb: var(--color-stone-rgb);
$color-moon-rgb: var(--color-moon-rgb);
$color-sun-rgb: var(--color-sun-rgb);
$color-coal-rgb: var(--color-coal-rgb);
$color-snow-rgb: var(--color-snow-rgb);
$color-smoke-rgb: var(--color-smoke-rgb);
$color-titanium-rgb: var(--color-titanium-rgb);
