@mixin dark-theme {
  :global(.body-dark-theme) & {
    @content;
  }
}

@mixin light-theme {
  :global(.body-light-theme) & {
    @content;
  }
}

// https://stackoverflow.com/questions/16348489/is-there-a-way-to-apply-styles-to-safari-only
@mixin safari {
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      @content;
    }
  }
}

// Colors
@mixin get-rule($rule, $value, $child: null) {
  @if $child {
    .#{$child} {
      #{$rule}: $value;
    }
  }
  @else {
    #{$rule}: $value;
  }
}

@mixin button-light-color($child: null) {
  @include get-rule(background-color, rgb($color-dark-rgb / 0.05), $child);

  &:not([disabled]) {

    @media (hover: hover) {
      &:hover {
        @include get-rule(background-color, rgb($color-dark-rgb / 0.10), $child);
      }
    }

    &:active,
    &.active {
      @include get-rule(background-color, rgb($color-dark-rgb / 0.15), $child);
    }
  }

  &[disabled] {
    background: rgb($color-dark-rgb / 0.15);
    opacity: 0.3;
  }
}

// Viewport height (more details in the useViewportHeight hook)
@mixin viewportHeight($property: min-height, $size: 100, $plus: false) {
  @if $plus {
    #{$property}: calc(#{$size}vh + #{$plus});
    #{$property}: calc(var(--vh, 1vh) * #{$size} + #{$plus});
  }
  @else {
    #{$property}: #{$size}vh;
    #{$property}: calc(var(--vh, 1vh) * #{$size});
  }
}

// Select
@mixin no-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}


// Focus
@mixin keyboard-focus {
  :global(.js-focus-visible) &:global(.focus-visible):focus {
    @content;
  }
}
