$border-color-default: rgba($color-secondary-rgb, .10);
$border-color-hover: rgba($color-dark-rgb, .30);
$border-color-error: rgba($color-error-rgb, .10);
$border-color-error-hover: rgba($color-error-rgb, .50);

$bg-color-default: rgba($color-secondary-rgb, .10);
$bg-color-hover: rgba($color-secondary-rgb, .15);
$bg-color-error: rgba($color-error-rgb, .10);
$bg-color-error-hover: rgba($color-error-rgb, .15);

@mixin field-colors($border-color, $bg-color) {
  background-color: $bg-color;
  border-color: $border-color;
}

.container {
  height: 48px;
  border: 1px solid;
  @include basic-transition();
  @include field-colors($border-color-default, $bg-color-default);

  &:not(.disabled) {
    @media (hover: hover) {
      &:hover {
        @include field-colors($border-color-hover, $bg-color-hover);
      }
    }

    &.error {
      @include field-colors($border-color-error, $bg-color-error);

      @media (hover: hover) {
        &:hover {
          @include field-colors($border-color-error-hover, $bg-color-error-hover);
        }
      }
    }
  }

  &.filled {
    .label {
      top: 5px;
    }
  }
}

.label {
  top: 14px;
  pointer-events: none;
  @include basic-transition();
}

.icon {
  transition: background-color ease .14s;
}
