@use './variables';
@use './mixins/media';
@use './mixins/common';
@use './mixins/animation';


.transition {
  @include animation.basic-transition;
}

// Z-index
.z-header {
  z-index: $layer-header;
}

.z-menu {
  z-index: $layer-menu;
}

.z-modal {
  z-index: $layer-modal;
}

.z-notification {
  z-index: $layer-notification;
}

.body-light-theme .bg-modal {
  background: rgba(variables.$color-white-rgb, .5);
  border: solid 1px rgba(variables.$color-dark-rgb, .1);
}

.body-dark-theme .bg-modal {
  background: rgba(variables.$color-white-rgb, .05);
  border: solid 1px rgba(variables.$color-white-rgb, .05);
}

// Focus
.js-focus-visible .focus-visible:focus {
  outline: 1px solid variables.$color-primary;
  outline-offset: 2rem;
}

*:focus-visible {
  border-radius: 8rem;
  outline: none;
  box-shadow: 0 0 0 3rem rgba(variables.$color-primary-rgb, .5);
}

// Shadow
.shadow-md {
  @include common.shadow-md;
}

.shadow-black {
  box-shadow: 0 0 40rem 0 rgba(variables.$color-black-rgb, .15);
}

.shadow-secondary {
  box-shadow: 0 0 40rem 0 rgba(variables.$color-secondary-rgb, .1);
}

// Size
@include media.desktop {

  .width-container {
    width: 100%;
    max-width: 1320rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60rem;
    padding-left: 60rem;
  }
}

@include media.tablet {

  .width-container {
    width: 100%;
    padding-right: 32rem;
    padding-left: 32rem;
  }
}

@include media.mobile {

  .width-container {
    width: 100%;
    padding-right: 24rem;
    padding-left: 24rem;
  }
}

// Interaction color
.interaction-color-light {
  @include common.interaction-color($color-light, $color-primary);
}

.interaction-color-secondary {
  @include common.interaction-color($color-secondary, $color-dark);
}

.interaction-color-dark {
  @include common.interaction-color($color-dark, $color-primary);
}

.interaction-color-error {
  @include common.interaction-color(rgba($color-error-rgb, .7), $color-error);
}

.interaction-color-primary {
  @include common.interaction-color($color-primary, $color-dark);
}

.interaction-bg-dark {
  @include common.interaction-bg($color-dark, $color-primary);
}

// Media
@include mobile {

  html {
    font-size: 0.267vw; // 1px for mobiles with 374px screen width
  }
}

@include tablet-portrait {

  html {
    font-size: 0.1758vw; // 1px for tablet with > 568px screen width
  }
}

@include tablet-landscape {

  html {
    font-size: 0.1301vw; // 1px for tablet with > 768px screen width
  }
}

.text-secondary-gradient {
  max-width: max-content;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, $color-secondary-start, $color-secondary-end);
}
