// Z-index
$layer-header: 100;
$layer-menu: 200;
$layer-modal: 500;
$layer-notification: 600;

// Colors
$color-background: var(--background);
$color-background-rgb: var(--background-rgb);
$color-primary: var(--primary);
$color-primary-rgb: var(--primary-rgb);
$color-secondary: var(--secondary);
$color-secondary-rgb: var(--secondary-rgb);
$color-success-light: var(--success-light);
$color-success-light-rgb: var(--success-light-rgb);
$color-success: var(--success);
$color-success-rgb: var(--success-rgb);
$color-warning: var(--warning);
$color-warning-rgb: var(--warning-rgb);
$color-error: var(--error);
$color-error-rgb: var(--error-rgb);
$color-dark: var(--dark);
$color-dark-rgb: var(--dark-rgb);
$color-black: var(--black);
$color-black-rgb: var(--black-rgb);
$color-light: var(--light);
$color-light-rgb: var(--light-rgb);
$color-white: var(--white);
$color-white-rgb: var(--white-rgb);
