.line {
  position: relative;

  &::before {
    position: absolute;
    top: 38px;
    left: 15px;
    width: 2px;
    height: 44px;
    background: rgba($color-dark-rgb, .05);
    content: '';
  }
}
