.line {
  position: relative;

  &::before {
    position: absolute;
    top: 38rem;
    left: 15rem;
    width: 2rem;
    height: 44rem;
    background: rgb($color-dark-rgb / 0.05);
    content: '';
  }
}
