.line {
  position: relative;

  &::before {
    position: absolute;
    top: 38px;
    left: 15px;
    width: 2px;
    height: calc(100% - 4px);
    background: rgba($color-dark-rgb, .05);
    content: '';
  }
}
