@include mobile {

  .notifications {
    right: 16px;
    left: 16px;
  }
}

@include tablet {

  .notifications {
    right: 24px;
    left: 24px;
  }
}

@include desktop {

  .notifications {
    left: 50%;
    width: 560px;
    margin-left: -280px;
  }
}
