.label {
  animation: pulse 1.3s infinite ease;
}

@keyframes pulse {
  0% {
    background-color: rgba($color-success-rgb, 1);
    box-shadow: 0 0 0 0 rgba($color-success-rgb, 0.9);
  }
  70% {
    background-color: rgba($color-success-rgb, 0.9);
    box-shadow: 0 0 0 8rem rgba($color-success-rgb, 0);
  }
  100% {
    background-color: rgba($color-success-rgb, 0.8);
    box-shadow: 0 0 0 rgba($color-success-rgb, 0);
  }
}
