@theme inline {
  --*: initial;

  /* Colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-start: var(--primary-start);
  --color-primary-end: var(--primary-end);
  --color-secondary: var(--secondary);
  --color-secondary-start: var(--secondary-start);
  --color-secondary-end: var(--secondary-end);
  --color-success-light: var(--success-light);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-dark: var(--dark);
  --color-black: var(--black);
  --color-light: var(--light);
  --color-white: var(--white);

  /* Border radius */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-72: 72px;

  /* Blur */
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  /* Animation */
  --animate-spin: spin 1s linear infinite;

  /* Other */
  --spacing: 1px;
}
