.container {
  margin: 0 -25px -25px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  :global(.swiper-pagination-progressbar-fill) {
    background: $color-dark;
  }

  @include mobile {
    bottom: 12px;
  }
}
