.option {
  min-width: 160px;
  height: 48px;

  &:hover,
  &:focus {
    background: rgba($color-primary-rgb, .05);
  }
}

.withSubTitle {
  height: 52px;
}

.logo {
  background: rgba($color-dark-rgb, .05);
}
