.text-fancy-lightset {
  max-width: max-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-light-theme .text-fancy-lightset {
  background-image: linear-gradient(to right, #4d2b70, #f16ebd);
}

.body-dark-theme .text-fancy-lightset {
  background-image: linear-gradient(to right, #7540aa, #f16ebd);
}
