@tailwind base;
@tailwind utilities;

@import 'styles/sanitize';
@import 'styles/cursor';
@import 'styles/layout';
@import 'styles/transition';
@import 'styles/typography';
@import 'styles/zIndex';
@import 'styles/border';

html,
body {
  width: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 1px;
  line-height: 0;
}

body {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

@include mobile {

  html {
    font-size: 0.267vw; // 1px for mobiles with 374px screen width
    // font-size: calc(100vw / 374);
  }
}

@include tablet-portrait {

  html {
    font-size: 0.1758vw; // 1px for tablet with > 568px screen width
    // font-size: calc(100vw / 568);
  }
}

@include tablet-landscape {

  html {
    font-size: 0.1301vw; // 1px for tablet with > 768px screen width
    // font-size: calc(100vw / 768);
  }
}

@keyframes hideScroll {
  0%,
  100% {
    height: 100vh;
    overflow: hidden;
  }
}
