@import 'sw-components/scss/common-globals';
@import 'styles/varsColors';
@import 'styles/focus';
@import 'styles/sizing';
@import 'styles/textColors';
@import 'styles/backgroundColors';

:root {
  color-scheme: light dark;
}

::-moz-selection {
  color: #47347e;
  background: #c8bfe3;
}

::selection {
  color: #47347e;
  background: #c8bfe3;
}

body {
  font-size: 14rem;
  background: $color-background;
  color: $color-dark;
}

#__next {
  @include viewportHeight();
}
