$border-color-default: rgba($color-secondary-rgb, .1);
$border-color-hover: rgba($color-dark-rgb, .3);
$border-color-focus: $color-primary;
$border-color-error: rgba($color-error-rgb, .1);
$border-color-error-hover: rgba($color-error-rgb, .5);

$bg-color-default: rgba($color-secondary-rgb, .1);
$bg-color-hover: rgba($color-secondary-rgb, .15);
$bg-color-focus: rgba($color-light-rgb, .2);
$bg-color-error: rgba($color-error-rgb, .1);
$bg-color-error-hover: rgba($color-error-rgb, .15);

@mixin field-colors($border-color, $bg-color) {
  background-color: $bg-color;
  border-color: $border-color;
}

.container {
  border: 1px solid;
  @include basic-transition();
  @include field-colors($border-color-default, $bg-color-default);

  &.isMultiline {
    min-height: 20px;

    .crossButton {
      top: 12px;
      right: 16px;
    }
  }

  &:not(.isMultiline) {
    height: 48px;
  }

  &:not(.disabled) {

    @media (hover: hover) {
      &:hover {
        @include field-colors($border-color-hover, $bg-color-hover);
      }
    }

    &.focused {
      @include field-colors($border-color-focus, $bg-color-focus);
    }

    &.error {
      @include field-colors($border-color-error, $bg-color-error);

      @media (hover: hover) {
        &:hover {
          @include field-colors($border-color-error-hover, $bg-color-error-hover);
        }
      }
    }
  }

  &.filled,
  &.focused {

    .label {
      top: 5px;
    }
  }

  &.focused,
  &:hover {

    .crossButton {
      opacity: 1;
    }
  }
}

.label {
  top: 14px;
  pointer-events: none;
  @include basic-transition();
}

.field {
  background-color: inherit;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  appearance: none;
  caret-color: $color-dark;

  &.isMultiline {
    line-height: 20px;
  }

  &:focus {
    background-color: inherit;
  }
}

.description {
  color: rgba($color-dark-rgb, .5);
}

.crossButton {
  opacity: 0;
  @include basic-transition();
}
