@use '../variables';


.js-focus-visible .focus-visible:focus {
  outline: 1px solid variables.$color-primary;
  outline-offset: 2rem;
}

*:focus-visible {
  border-radius: 8rem;
  outline: none;
  box-shadow: 0 0 0 3rem rgba(variables.$color-primary-rgb, .5);
}
