@use '../mixins/media';

@include media.desktop {

  .width-container {
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@include media.tablet {

  .width-container {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@include media.mobile {

  .width-container {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
}
